* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// FONT VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sulphur+Point&display=swap');

$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Sulphur Point', sans-serif;

body {
  font-size: 1.8rem;
  font-family: $bodyFont;
  line-height: 2.9rem;

}

header, h2, h3 {
    font-family: $headingFont;
}

// COLOUR VARIABLES
$tertiary: #d479ff;
$primary: #3a1879;
$secondary: #ded6ed;
// black
// white
// grey

// mixin for links
@mixin a ($btn-transform, $btn-color, $btn-bgd-color, $btn-padding, $btn-border) {
  text-transform: $btn-transform;  
  color: $btn-color;  
  background-color: $btn-bgd-color;  
  padding: $btn-padding;  
  border: $btn-border;
}

// a {
//     background: #3a1879;
//     color: white;
//     padding: 10px 20px;
//     text-decoration: none;
//     border-radius: 5px;
    
//     &:hover, &:focus {
//         background: $tertiary;
//         color: black;
//     }
// }

