@media (max-width: 1100px) {
    header h1 {
        font-size: 5rem;
    }

    .socialEvents {

        h2 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 833px) {
    header h1 {
        font-size: 3.5rem;
    }

    .socialEvents {

        h2 {
            font-size: 1.9rem;
        }

        .eachEvent {
            li h2 {
                font-size: 2.3rem;
            }
        }
    }
}

@media (max-width: 692px) {
    .socialEvents {
        form {
            grid-template-columns: repeat(auto-fill, 400px);
            justify-content: center;
            fieldset {
                width: 400px;
            }
        }
    }

    .resultsPage {

        .selectGenre {
            h2 {
                display: block;
            }

            .genreDropdown {
                margin: 20px 25px 20px 0;
            }
        }
    }
}

@media (max-width: 485px) {
    .socialEvents {

        form fieldset {
            width: 100%;
        }

        .newEventForm {
            fieldset {
                input::placeholder {
                    opacity: 0;
                }
            }
        }

        .toResults {
            flex-direction: column;

            a {
                text-align: center;
            }

            div {
                margin-bottom: 20px;
            }

        }
    }

    .newEventForm > fieldset:nth-child(1) {
        width: 100%;
    }

    .resultsPage {
        
        h2 {
            text-align: center;
        }

        a,
        .selectGenre a {
            display: block;
            text-align: center;
        }

        .missedEvent {
            justify-content: center;
            
            div {
                margin: 10px auto;
            }
        }

        .selectGenre {
            
            .genreDropdown {
                width: 100%;
                margin: 10px 0 20px;
            }

        }
        
        .tvShows {
            justify-content: center;
        }
    }

    
    footer {
        font-size: 1.4rem;
    }
}

@media (max-width: 444px) {
     .socialEvents {
        form {
            grid-template-columns: repeat(auto-fill, 100%);
            justify-content: center;
            fieldset {
                width: 100%;
            }
        }
    }
}

@media (max-width:375px) {
    .btnContainer {
        flex-direction: column;
        align-items: center;
        width:100%;

        a {
            margin-bottom: 20px;
        }
    }
}