// Results Page styles
.resultsPage {

    .missedEvent {
        background: $secondary;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        div {
            border: 2px solid $primary;
            border-radius: 5px;
            padding: 10px;
            margin-left: 20px;
            min-width: 200px;
        }
    }

    .selectGenre {
        padding: 20px 0;
        margin: 30px 0;
        border-top: 3px solid $primary;
        border-bottom: 3px solid $primary;

        h2 {
            display: inline-block;
        }
    
        .genreDropdown {
            display: inline-block;
            width: 250px;
            margin: 0 25px;
        }

        a {
            display: inline-block;
        }
    }

    .tvShows {
        display: grid;
        grid-template-columns: repeat(auto-fill, 210px);
        grid-gap: 15px;
        justify-content: space-between;
        margin-bottom: 30px;

        li {
            width: 210px;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .movieData p {
                font-size: 1.6rem;
            }
            .movieData h3 {
                margin-top: 10px;
            }
            .link { 
                margin-top: 15px; 
            }
        }
    }

    .notSelected {
        background: grey;
        color: white;
        padding: 6px 20px;
        border-radius: 5px;
        margin-bottom: -6px;
        display: inline-block;
    }
}

.btnContainer {
    display:flex;
    justify-content: space-between;
}