.resultsPage {

    .missedEvent {
        background: $secondary;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        div {
            border: 2px solid $primary;
            border-radius: 5px;
            padding: 10px;
            margin-left: 10px;
            min-width: 200px;
        }
    }

    .selectGenre {
        padding: 20px 0;
        margin: 30px 0;
        border-top: 3px solid $primary;
        border-bottom: 3px solid $primary;

        h2 {
            display: inline-block;
        }
    
        .genreDropdown {
            display: inline-block;
            width: 250px;
            margin: 0 25px;
        }
    }

    .tvShows {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-evenly;

        li {
            width: 210px;
            border-radius: 10px;
            margin: 10px 0;
            // margin-right: 10px;

            img {
                margin: 0 auto;
            }

            p { 
                font-size: 1.6rem;
            }
        }
    }
}
